<?xml version="1.0" encoding="UTF-8"?>
<Units>
	<group id="unit1" type="Accuracy">
		<equalizerClass>fengfei.forest.slice.impl.LongSliceEqualizer
		</equalizerClass>
		<navigationType>Floor</navigationType>
		<funcType>ReadWrite</funcType>
		<over>Last</over>
		<algorithmType>Loop</algorithmType>
		<unitSuffix>_</unitSuffix>
		<defaultExtraInfo>
			<property key="host" value="127.0.0.1" />
			<property key="port" value="1200" />
			<property key="username" value="name" />
			<property key="password" value="pwd" />
		</defaultExtraInfo>
		<slices>
			<slice id="1" weight="1">
				<sourceKey>1</sourceKey>
				<slice id="1-1" kind="Physical" weight="1" func="read">
					<property key="host" value="127.0.0.3" />
				</slice>
				<slice id="1-2" kind="Physical" weight="1" func="write">
					<property key="host" value="127.0.0.4" />
				</slice>
			</slice>
			<slice id="2" weight="1">
				<sourceKey>2</sourceKey>
				<slice id="2-1" kind="Physical" weight="1" func="read">
					<property key="host" value="127.0.0.3" />
				</slice>
				<slice id="2-2" kind="Physical" weight="1" func="write">
					<property key="host" value="127.0.0.4" />
				</slice>
			</slice>
		</slices>
	</group>
	<group id="unit2" type="Accuracy">

		<navigationType>Floor</navigationType>
		<funcType>ReadWrite</funcType>
		<unitSuffix>_</unitSuffix>
		<defaultExtraInfo>
			<property key="host" value="127.0.0.1" />
			<property key="port" value="1200" />
			<property key="username" value="name" />
			<property key="password" value="pwd" />
		</defaultExtraInfo>
		<slices>


			<slice kind="Physical" weight="1" func="read">
				<sourceKey>1</sourceKey>
				<property key="host" value="127.0.0.3" />
			</slice>
			<slice kind="Physical" weight="1" func="write">
				<sourceKey>2</sourceKey>
				<property key="host" value="127.0.0.4" />
			</slice>

		</slices>
	</group>
</Units>
 